
    <section class="content-header">
      <h1>
        <i class="fa fa-book"></i>
        Library
        <small>Add Book</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Library</li>
        <li class="active">Add Book</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-th-list" aria-hidden="true"></i>
                <h3 class="box-title">Add Book</h3>
            </div>
            <div class="box-body">  
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Book Title</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Author Name</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Book Price</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Quantity</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Rack Number</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Inward Date</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-md-6">
                      <label>Book Description</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                  <div class="col-md-4">
                      <label>Select Subject</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Subject 1</option>
                        <option>Subject 2</option>
                        <option>Subject 3</option>
                        <option>Subject 4</option>
                        <option>Subject 5</option>
                        <option>Subject 6</option>
                        <option>Subject 7</option>
                        <option>Subject 8</option>
                      </select>
                  </div>
              </div>
                
              <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Add Book</button>
                    </div> 
              </div>
            </div>
        </div>
    </section>
 
