
    <section class="content-header">
      <h1>
        <i class="fa fa-calendar-check-o"></i>
        Attendance
        <small>Students</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Attendance</li>
        <li class="active">Student Attendance</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

            <div class="box box-default">
              <div class="box-header with-border">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Batch Year</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Class</label>
                      <select class="form-control select2" data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId">
                        <option selected="selected">--Select--</option>
                        <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>
                      </select>
                    </div>
                  </div>
                
                  <div class="col-md-3">
                   <div class="form-group">
                      <label>Section</label>
                      <select class="form-control select2" style="width: 100%;" ng-model="secId">
                       <option selected="selected">--Select--</option>
                        <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Search by keyword</label>
                      <input type="text" name="search_text" class="form-control" placeholder="Search...">
                    </div>
                  </div>

                </div>
              </div>

              <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">Search</button>
              </div>
            </div>
    
    <!-- /.content -->
    
    <!-- Content List -->
        <div class="box box-default">
            <div class="box-header with-border">
                  <i class="fa fa-users" aria-hidden="true"></i> 
                  <h3 class="box-title">Student List</h3>
              </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
               <div class="mailbox-controls">   
                <button type="button" class="btn btn-primary pull-left">
                <i class="state-icon glyphicon glyphicon-unchecked"></i>
                &nbsp;
                Mark as holiday
                </button>
                <input type="checkbox" class="hidden" name="holiday" value="checked">
               </div>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-primary pull-right">
                <i class="fa fa-save"></i>
                Submit Attendance
                </button>
              </div>
            </div>              
                
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-hover table-striped">
                  <thead>
                   <tr>
                    <th>#</th>
                    <th>   
                      <div class="squaredFour">
                      <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                      <label for="squaredFour"></label>
                      </div>
                      <span class="selection">All</span>
                    </th>
                    <th>Admission No</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Attendance</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                   </tr> 
                  </thead>
                 <tbody>
                   <tr ng-repeat="student in studentData">
                    <td>{{$index+1}}</td>
                    <td>    
                      <div class="squaredFour">
                      <input type="checkbox" value="None" id="squaredFour{{$index}}" name="check" checked />
                      <label for="squaredFour{{$index}}"></label>
                      </div>
                    </td>
                    <td>{{student.admission_no}}</td>
                    <td>{{student.roll_no}}</td>
                    <td>{{student.first_name}} {{student.last_name}}</td>
                    <td>    
                               
                        <div class="radio radio-info radio-inline">
                            <input ng-change="addAttendance(student,attend)" type="radio" ng-model="attend" value="Present" id="attendencetype+{{$index}}" name="attendencetype+{{$index}}">
                            <label for="inlineRadio1"> Present </label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input ng-change="addAttendance(student,attend)" type="radio" ng-model="attend" value="Late with excuse" name="attendencetype+{{$index}}">
                            <label for="inlineRadio1"> Late with excuse </label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input ng-change="addAttendance(student,attend)" type="radio" ng-model="attend" value="Late" name="attendencetype+{{$index}}">
                            <label for="inlineRadio1"> Late </label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input ng-change="addAttendance(student,attend)" type="radio" ng-model="attend" value="Absent" name="attendencetype+{{$index}}">
                            <label for="inlineRadio1"> Absent </label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input ng-change="addAttendance(student,attend)" type="radio" ng-model="attend" value="On Leave" name="attendencetype+{{$index}}">
                            <label for="inlineRadio1"> On Leave </label>
                        </div>
                    </td>
                    <td><button class="btn btn-primary smallButton" type="button" value="add">Add</button></td>
                   </tr>
                   
                  
                 </tbody>
                </table>
              </div>                       
            </div>
          </div>
        </div>
    </section>
 