
    <section class="content-header">
      <h1>
        <i class="fa fa-file-text"></i>
        Examinations
        <small>Exam Schedules</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Examinations</li>
        <li class="active">Exam Schedules</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

            <div class="box box-default">
              <div class="box-header with-border">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Select Class</label>
                       <select name="class" class="form-control select2"  data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId">
                        <option selected="selected">--Select--</option>
                        <option ng-repeat="class in classData" value="{{class.class_id}}">{{class.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group" >
                      <label>Select Section</label>
                       <select class="form-control select2" name="section" style="width: 100%;" ng-model="secId">
                       <option selected="selected">--Select--</option>
                        <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">Select</button>
                    </div>                  
                </div>
                  
                <div class="box-header with-border">
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                  <h3 class="box-title">Add Schedules</h3>
                </div>
                <form name="examSchedule" ng-submit="examSchedule.$valid && addExamSchedule(data)" novalidate>
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" ng-class="{'has-error': examSchedule.$submitted  && examSchedule.examTitle.$pristine}">
                        <label>Examination Title</label>
                        <input type="text" name="examTitle" class="form-control" ng-model="data.exam_title" placeholder="Enter ..." required />
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="form-group" ng-class="{'has-error': examSchedule.$submitted  && examSchedule.startDate.$pristine}">
                        <label>Start Date</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <!--<input type="text" class="form-control pull-right" ng-model="data.exam_classes" id="datepicker">-->
                           <datepicker  date-format="dd-MM-yyyy" style="z-index:999">
                            <input name="startDate" class="form-control" type="text" ng-readonly="true"  ng-model="data.from_date" placeholder="Enter ..." required/>
                          </datepicker>
                        </div>
                      </div>
                    </div>
                       <div class="col-md-4">
                      <div class="form-group" ng-class="{'has-error': examSchedule.$submitted  && examSchedule.startDate.$pristine}">
                        <label>Due Date</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <!--<input type="text" class="form-control pull-right" ng-model="data.exam_classes" id="datepicker">-->
                           <datepicker  date-format="dd-MM-yyyy" style="z-index:999">
                            <input name="startDate" class="form-control" type="text" ng-readonly="true"  placeholder="Enter ..." required/>
                          </datepicker>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Add Schedule</button>
                    </div> 
                </div>
                </form>
              </div>

              
            </div>
    
    <!-- /.content -->
    
    <!-- Content List -->
        <div class="box box-default">
            <div class="box-header with-border">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                  <h3 class="box-title">Exam Schedules</h3>
            </div>
          <div class="box-body">  
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-striped">
                  <thead>
                   <tr>
                    <th>#</th>
                    <th>Examination Title</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th class="pull-right">Action</th>
                   </tr>
                  </thead>
                  <tbody>
                   <tr ng-repeat="exam in examData">
                     <td>{{$index}}</td>
                    <td>{{exam.exam_title}}</td>
                    <td>{{exam.from_date}}</td>
                    <td>{{exam.exam_classes}}</td>  
                    <td class="pull-right">
                      <a href="" class="btn btn-default btn-xs" data-toggle="modal" ng-click="EditExamSchedule($index)" data-target="#myModal" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <a href="" class="btn btn-default btn-xs" data-toggle="tooltip" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </td>
                   </tr>
                 </tbody>
                </table>
              </div>                       
            </div>
          </div>
        </div>
    </section>
<!--Edit values modal Starts here-->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        
         <div class="modal-header">
            <h3>Edit Schedule</h3>
        </div>
  <form name="examScheduleEdit" ng-submit="EditExamSchedule(editdata)" novalidate>
  
        <div class="modal-body">
       
        <!-- /.box-header -->
         <!-- /.box-header -->
      
                
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Examination Title</label>
                        <input type="text" class="form-control" ng-model="editdata.exam_title" placeholder="Enter ...">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Start Date</label>
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <!--<input type="text" class="form-control pull-right" ng-model="data.exam_classes" id="datepicker">-->
                           <datepicker  date-format="dd-MM-yyyy" style="z-index:999">
                            <input class="form-control" name="startDate" type="text" ng-readonly="true"  ng-model="editdata.from_date" placeholder="Enter ..." required/>
                          </datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Due Date</label>
                          
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <!--<input type="text" class="form-control pull-right" ng-model="data.from_date" id="datepicker">-->
                          <datepicker date-format="dd-MM-yyyy" style="z-index:999">
                            <input class="form-control" name="startDate" type="text"  ng-model="editdata."  ng-readonly="true" placeholder="Enter ..." required/>
                          </datepicker>
                        </div>
                      </div>
                    </div>
                </div>
                
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Edit Schedule</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
         </form>
        </div>
       
    
      </div>
    </div>
  </div>
