
    <section class="content-header">
      <h1>
        <i class="fa fa-users"></i>
        Student Information
        <small>Students</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Student Information</li>
        <li class="active">Students</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

            <div class="box box-default">
              <div class="box-header with-border">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Batch Year</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Class</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Class 6</option>
                        <option>Class 7</option>
                        <option>Class 8</option>
                        <option>Class 9</option>
                        <option>Class 10</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Section</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Section A</option>
                        <option>Section B</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Search by keyword</label>
                      <input type="text" name="search_text" class="form-control" placeholder="Search...">
                    </div>
                  </div>

                </div>
              </div>

              <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">Search</button>
              </div>
            </div>
    
    <!-- /.content -->
    
    <!-- Content List -->
        <div class="box box-default">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i> List  View</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-newspaper-o"></i> Details View</a></li>
                </ul>
            </div>
           
          <div class="box-body">  
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-striped">
                  <thead>
                   <tr>
                    <th>Admission No</th>
                    <th>Student Name</th>
                    <th>Class</th>
                    <th>Father Name</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Category</th>
                    <th>Mobile No</th>
                    <th>RTE</th>
                    <th class="pull-right">Action</th>
                   </tr>
                  </thead>
                 <tbody>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                   <tr>
                    <td>17002</td>
                    <td><a href="">Kevin Bush</a></td>
                    <td>Class 6(A)</td>
                    <td>Tom Bush</td>
                    <td>10/07/2006</td>
                    <td>Male</td>
                    <td>General</td>
                    <td>986646446</td>
                    <td>No</td>
                    <td class="pull-right">
                      <a href="https://demo.smart-school.in/student/edit/2" class="btn btn-default btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>
                 </tbody>
                </table>
              </div>                       
            </div>
          </div>
        </div>
    </section>

 
