
    <section class="content-header">
      <h1>
        <i class="fa fa-file-text"></i>
        Examinations
        <small>Evaluations</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Examinations</li>
        <li class="active">Evaluations</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

            <div class="box box-default">
              <div class="box-header with-border" ng-if="showRole(['admin','teacher','parent'])">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                    <div class="form-group">
                      <label>Select Class</label>
                      <select class="form-control select2"  data-ng-change="populateSections(classId)" style="width: 100%;" ng-model="classId">
                        <option selected="selected">--Select--</option>
                       <option ng-repeat="class in classDatanew" value="{{class.class_id}}">{{class.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                    <div class="form-group">
                      <label>Select Section</label>
                      <select class="form-control select2" style="width: 100%;" ng-model="secId">
                        <option selected="selected">--Select--</option>
                       <option ng-repeat="sec in secData" value="{{sec.section_id}}">{{sec.name}}</option>
                        
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-md-4" ng-if="showRole(['admin','teacher','parent'])">
                    <div class="form-group">
                      <label>Select Exam Schedule</label>
                      <select class="form-control select2" style="width: 100%;" ng-model="examScheduleId">
                        <option selected="selected">--Select--</option>
                        <option ng-repeat="exam in examSchedule " value="{{exam.exam_sch_id}}">{{exam.exam_title}}</option>
                        
                      </select>
                    </div>
                  </div>
                    
                  <div class="col-md-4">
                      <div class="form-group" ng-if="showRole(['admin','teacher','parent'])">
                        <label>Select Subject</label>
                        <select  ng-change="getEvaluation(paperId ,studentId)" class="form-control select2" data-ng-change="populatePapers(subjectId)" style="width: 100%;"  ng-model="subjectId">
                            <option selected="selected">--Select--</option>
                             <option ng-repeat="subject in subjectsData" value="{{subject.subject_id}}">{{subject.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" ng-if="showRole(['admin','teacher','parent'])">
                        <label>Paper Title</label>
                        <select  ng-change="getEvaluation(paperId ,studentId)" class="form-control select2" style="width: 100%;" ng-model="paperId">
                            <option selected="selected">--Select--</option>
                            <option ng-repeat="paper in papers " value="{{paper.exam_paper_id}}">{{paper.exam_paper_title}}</option>
                            
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" ng-if="showRole(['admin','teacher'])">
                        <label>Select Student</label>
                        <select ng-change="getEvaluation(paperId ,studentId)" class="form-control select2" style="width: 100%;" ng-model="studentId">
                            <option selected="selected">--Select--</option>
      
                            <option ng-repeat="student in students " value="{{student.student_id}}">{{student.first_name}} {{student.last_name}}</option>
                        </select>
                      </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12" ng-if="showRole(['admin','teacher','parent'])">
                    <button type="submit" class="btn btn-primary pull-right">Select</button>
                    </div>                  
                </div>
                  
                <div class="box-header with-border" ng-if="showRole(['admin','teacher'])">
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                  <h3 class="box-title">Add Marks</h3>
                </div>
                  <form name="evaluations" ng-submit="evaluations.$valid && addEvaluation(data)" novalidate>
                <div class="row">
                    <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                      <div class="form-group"  ng-class="{'has-error': evaluations.$submitted  && evaluations.marksObtained.$pristine}">
                        <label>Marks obtained</label>
                        <input name="marksObtained" type="text" ng-model="data.marks" class="form-control" placeholder="Enter ..." required>
                      </div>
                    </div>
                    <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                      <div class="form-group" ng-class="{'has-error': evaluations.$submitted  && evaluations.marksPercentage.$pristine}">
                        <label>Marks Percentage</label>
                        <input name="marksPercentage" type="text"  ng-model="data.percentage" class="form-control" placeholder="Enter ...">
                      </div>
                    </div>
                    <div class="col-md-4" ng-if="showRole(['admin','teacher'])">
                      <div class="form-group"  ng-class="{'has-error': evaluations.$submitted  && evaluations.conduct.$pristine}">
                        <label>Conduct</label>
                        <select name="conduct" ng-model="data.conduct" class="form-control select2" style="width: 100%;">
                            <option selected="selected">--Select--</option>
                            <option>Poor</option>
                            <option>Below Average</option>
                            <option>Average</option>
                            <option>Above Average</option>
                            <option>Good</option>
                            <option>Excellent</option>
                        </select>
                      </div>
                    </div>
                    
                </div>
       
                <div class="row">
                    <div class="col-md-12" ng-if="showRole(['admin','teacher'])">
                        <button type="submit" class="btn btn-primary pull-right">Add Marks</button>
                    </div> 
                </div>
                  </form>
              </div>

              
            </div>
    
    <!-- /.content -->
    
    <!-- Content List -->
        <div class="box box-default">
            <div class="box-header with-border">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                  <h3 class="box-title">Exam Marks</h3>
            </div>
          <div class="box-body">  
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-striped">
                  <thead>
                   <tr>
                    <th>#</th>
                    <th>Student</th>
                    <th>Examination Title</th>
                    <th>Subject</th>
                    <th>Paper Title</th>
                    <th>Marks obtained</th>
                    <th>Percentage</th>
                    <th>Conduct</th>
                    <th class="pull-right">Action</th>
                   </tr>
                  </thead>
                  <tbody>
                   <tr ng-repeat="evaluations in evalData" >
                    <td>{{$index+1}}</td>
                    <td>{{evaluations.student_id}}</td>
                    <td>{{evaluations.exam_paper_id}}</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>{{evaluations.marks}}</td>
                    <td>{{evaluations.percentage}}</td>
                    <td>{{evaluations.conduct}}</td>
                    <td class="pull-right">
                      <a href="" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <a href="" class="btn btn-default btn-xs" data-toggle="tooltip" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </td>
                   </tr>
                 </tbody>
                </table>
              </div>                       
            </div>
          </div>
        </div>
    </section>
 

 <!--Edit values modal Starts here-->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form name="employeeDetails" ng-submit="addEmployee(data)" novalidate>
         <div class="modal-header">
            <h3>Edit Marks</h3>
        </div>
        <div class="modal-body">
       
        <!-- /.box-header -->
         <!-- /.box-header -->  
               <form name="evaluations" ng-submit="evaluations.$valid && addEvaluations(data)" novalidate>    
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group"  ng-class="{'has-error': evaluations.$submitted  && evaluations.marksObtained.$pristine}">
                        <label>Marks obtained</label>
                        <input name="marksObtained" type="text" class="form-control" placeholder="Enter ..." required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Marks Percentage</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Conduct</label>
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">--Select--</option>
                            <option>Poor</option>
                            <option>Below Average</option>
                            <option>Average</option>
                            <option>Above Average</option>
                            <option>Good</option>
                            <option>Excellent</option>
                        </select>
                      </div>
                    </div>
                    
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Marks</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
        </form>
        </div>
       
     </form>
      </div>
    </div>
  </div>