
    <section class="content-header">
      <h1>
        <i class="fa fa-calendar"></i>
      Route Geolocation
      </h1>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->

        <div class="box box-default">
              
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> </a></li>
                </ul> 
            </div>
        </div>
                
    </section>
 
