
    <section class="content-header">
      <h1>
        <i class="fa fa-users"></i>
        Employee Management
        <small>Employees</small>
      </h1>
       
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Employee Management</li>
        <li class="active">Employee</li>
      </ol>
    </section>
    <!-- /.Content Header -->

    <!-- Main content -->
    <section class="content">
      <!-- Select Criteria -->
            <div class="box box-default">
              <div class="box-header with-border">
                  <i class="fa fa-search" aria-hidden="true"></i> 
                  <h3 class="box-title">Select Criteria</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Batch Year</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Employee Type</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Teaching</option>
                        <option>Non-Teaching</option>
                        <option>Administrative</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Gender</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">--Select--</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Search by keyword</label>
                      <input type="text" ng-model="searchEmp" name="search_text" class="form-control" placeholder="Search...">
                    </div>
                  </div>

                </div>
              </div>

              <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">Search</button>
              </div>
            </div>
    
    <!-- /.content -->
   
    <!-- Content List -->
        <div class="box box-default">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i> List  View</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-newspaper-o"></i> Details View</a></li>
                </ul>
            </div>
            
            <div class="tab-content">
              <div class="tab-pane table-responsive no-padding active" id="tab_1">
                <table class="table table-striped">
                  <thead>
                   <tr>
                    <th>Employee Id</th>
                    <th>Employee name</th>
                    <th>Job Category</th>
                    <th>Experience</th>
                    <th>Joining Date</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Mobile No</th>
                    <th>School Id</th>
                    <th class="pull-right">Action</th>
                   </tr>
                  </thead>
                 <tbody>
                   <tr ng-repeat="employee in employeeData | filter:searchEmp">
                    <td>{{employee.employee_id}}</td>
                    <td><a href="">{{employee.name}} {{employee.surname}}</a></td>
                    <td>{{employee.job_category}}</td>
                    <td>{{employee.experience}}</td>
                    <td>{{employee.joined_on}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.website}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.school_id}}</td>
                    <td class="pull-right">
                      <a  class="btn btn-default btn-xs" ng-click="open()" data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                   </tr>                   
                 </tbody>
                </table>
              </div>                       
            </div>
        </div>
    </section>
  </div>
 